<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
    <% include ../partials/admin_page %>
</head>
<body>

<!-- Sidebar -->
<% include ../partials/sidebar %>


<div class = "page" id = "main">
    <div class = "header">
        <div id = "account_name">
            <button style="float: left" id="openNav" class="w3-button w3-xlarge" onclick="w3_open()">&#9776;</button>
            Admin for <%= workspace_name%>
        </div>
    </div>

    <div class = "wrapper">
        <div class = "account_photo">
            <img id = "profile_picture" src = "/img/profileImg.png">
        </div>
        <div class = "view_posts">

        </div>
        <div class = "view_events">

        </div>

    </div>

</div>


</body>
</html>